body { 
    font-family: 'Cambay', sans-serif;
}

.alert-container {
    margin: 0;
}

.callout-container {
    height: 100vh;    
    background: url(../images/whiskey-background.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.callout-header {
    color: #dce9fd;
}

.callout-body {
    color: #FDD29D;
}

.callout-footer {
    color: #C9AE9B;
}

.callout-btn {
    border-radius: 2rem;
    color: #fff;
    background-color: #514796;
    border-color: #514796;
 }

.quotes-container { }

.features-container { }

/*jumbotron*/

.jumbotron {
    background-color: transparent;
}

